<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>speed</title>
</head>
<style>
body{
background-color:black;
display:flex;
}
div{
justify-content:center;
margin-top:100px;
margin-left:300px;
text-align:center;
color:cyan;
height:100px;
width:50%;
background-color:grey;
box-shadow:5px 5px 2px 2px;
}
h6{
font-size:10;
color:green;
}
</style>
<body>
<div>
    <h3>Internet download speed : {{d}}Mbps</h3>
    <h3>Internet upload speed : {{u}}Mbps</h3>
    <h6>Internet servers : {{ser}}</h6>
</div>
<h2><a href="location">Get location here</a></h2>
</body>
</html>