<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>speech</title>
</head>
<style>
   .hh{
   top:200px;
   left:300px;
   position:absolute;
   color:white;
   }

</style>
<body>
<div>
    <img src="https://cdn.hipwallpaper.com/i/4/14/Q8FoLr.jpg">
    <div class="hh">
        <form action="conver" class="dd">
            <h1>ENTER THE TEXT:<input type="text" name="text" placeholder="to covert to speech"></h1>
            <input type="submit" placeholder="submit">

        </form>
    </div>
</div>
</body>
</html>